@charset "utf-8";
/* CSS Document */
html, body{
   margin:0;
   padding:0;
   height:100%;
   	background-image:url(../png/sky3.png);
	background-repeat:repeat-x;
	background-position: bottom;
   /*overflow-x: hidden;*/
}

#loading {
	z-index: 100;
	width: 100%;
	margins: 20px auto;
}

#floater {
	float:left; 
	height:50%; 
	margin-bottom:-300px;
}

#container {
	bottom: 0px;
	clear: both;
	height:700px;
	position:absolute;
	width:10684px;
	z-index: 1;
	overflow-x: hidden;
	opacity: 0;
	
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#ground {
	position:absolute;
	bottom:0;
	width:10684px;
	height:180px;   /* Height of the footer */
	background-image:url(../jpg/Dirt.jpg);
	background-repeat:repeat;
	z-index: -1;
}
/* Animation blocks */
#landscape-fore {
	position:absolute;
	top: 175px;
	height: 550px;
	z-index: 7;
}

#landscape-fore img {
	position:absolute;
}

#landscape-mid {
	position:absolute;
	top: 170px;
	height: 550px;
	z-index: 6;
}

#landscape-back {
	position:absolute;
	top: 175px;
	height: 550px;
	z-index: 5;
}
#landscape-back img {
	position:absolute;
}

#panel1 {
	position:absolute;
	z-index: 30;
	left: 40px;
	top: 0px;
	height: 600px;
}
#panel2 {
	position:absolute;
	z-index: 10;
	left: 940px;
	top: 0px;
	height: 600px;
}
#panel3 {
	position:absolute;
	z-index: 10;
	left: 1590px;
	top: 0px;
	height: 600px;
}
#panel4 {
	position:absolute;
	z-index: 10;
	top: 0px;
	left:2209px;
	height: 660px;
}
#odometerHolder {
	position: absolute;
	top: 191px;
	left: 1716px;
	z-index: 20;
}
#odometer {
	width:65px;
	height:32px;
	overflow:hidden;
	position:relative;
}
#panel5 {
	position:absolute;
	z-index: 10;
	top: 0px;
	left:3680px;
	height: 600px;
}
#flip15 {
	background: transparent url(../png/flipboard-15.png) 0 0 no-repeat;
	position: absolute;
	top: 165px;
	left: 310px;
	width: 260px;
	height: 215px;
	z-index: 20;
	display: none;
}
#panel6 {
	position:absolute;
	z-index: 10;
	top: 0px;
	left:4458px;
	height: 600px;
}
#panel7 {
	position:absolute;
	z-index: 10;
	top: 0px;
	left:5312px;
	height: 600px;
}
#panel8 {
	position:absolute;
	z-index: 10;
	top: 0px;
	left:5700px;
	height: 600px;
}
#panel9 {
	position:absolute;
	z-index: 10;
	top: 0px;
	left:6694px;
	height: 600px;
}
#panel10 {
	position:absolute;
	z-index: 9;
	top: 0px;
	left:7455px;
	height: 600px;
}
#panel11 {
	position:absolute;
	z-index: 10;
	top: 0px;
	left:8555px;
	height: 600px;
}
#panel12 {
	position:absolute;
	z-index: 11;
	top: 0px;
	left:9124px;
	height: 600px;
	background: no-repeat transparent url(../png/final-panel-bg.png);
}
#donate {
	position: absolute;
	z-index: 12;
	top: 264px;
	left: 302px;
	background: no-repeat transparent url(../png/donation-box.png);
	width:328px;
	height: 85px;
}
#donateAmt {
 	margin-left: 50px;
    margin-top: 20px;
	width: 225px;
	height: 37px;
	font-size:24px;
}