@charset "utf-8";
/* CSS Document */
.holder{
	position:fixed;
	z-index: 50;
	bottom: 0;
	height: 86px;
	width: 100%;
	}
#navigation{
	bottom:0;
	width:750px;
	height:86px;
	background-color:#FFF;
	margin: 0 auto;
	padding: 5px;
	position:relative;
	font-family: 'Scada', sans-serif;
	box-shadow: 0 0 11px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 11px rgba(0, 0, 0, .8); 
}

#navigation .nav-logo {
	margin-top:5px;
	
	}
#navigation #mini-map {
	position:absolute;
	left:106px;
	top:15px;
	width:352px;
	height:63px;
	z-index:1;
}
#navigation #mini-map-overlay-container {
	position:absolute;
	left:106px;
	top:15px;
	z-index: 50;
	width: 352px;
	height: 63px;
}
#navigation #mini-map-overlay {
	position: absolute;
	z-index: 50;
	width:60px;
	height:64px;
	background: rgba(255, 255, 255, 0.7);
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#navigation #mini-map-overlay:hover {
	cursor:move;
}
#navigation #nav-items {
	position:absolute;
	left:474px;
	top:12px;
	width:181px;
	height:64px;
	z-index:1;
}
#navigation #donate-btn {
	position:absolute;
	left:665px;
	top:1px;
	width:94px;
	height:94px;
	z-index:1;
	background-image:url(../images/nav-btn-donate.jpg);
}
#navigation #donate-btn:hover {
	background-image:url(../images/nav-btn-donate-hover.jpg);
}
#navigation h4 {
	color:#ff6f28;
	font-size:14px;
	margin:0;
	padding:0;

}

#navigation ul {
	margin:0;
	padding:0;
	list-style-position:inside;
	margin-bottom:5px;

}
#navigation ul li {
	color:#ccc;
	font-size:10px;

}
#navigation .link {
	color:#00b5cb;
	font-size:12px;
	text-decoration:none;
	
}
#navigation .link:hover {
	color:#00b5cb;
	text-decoration:underline;
}

