@charset "utf-8";
/* CSS Document */

#preloader {
	width: 100%;
	z-index: 100;
	position: absolute;
	/*width:10684px;
	overflow-x: hidden;	*/
}
#preloader-up {
	margin: 100px auto;
	width:186px;
	height:221px;
	z-index:100;
}
#loaderFill {
	position: absolute; 
	z-index:2;	
}
.loader {
    margin: 150px 40px;
	text-align: center;
	width:100px;
	position:absolute;
	z-index: 3;
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 3px;
    margin: 0px auto;
    background: black;
    border-radius: 50px;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
@-webkit-keyframes loader {
  0% {
    width: 3px;
    height: 3px;
    opacity: 0.5;
    -webkit-transform: translateY(0);
  }
  100% {
    width: 6px;
    height: 6px;
    opacity: 0.1;
    -webkit-transform: translateY(-11px);
  }
}
@-moz-keyframes loader {
  0% {
    width: 3px;
    height: 3px;
    opacity: 0.5;
    -moz-transform: translateY(0);
  }
  100% {
    width: 6px;
    height: 6px;
    opacity: 0.1;
    -moz-transform: translateY(-21px);
  }
}
